
  .bodyclass
{
    background-color:#c4d70f;
    color:white;
    
    clip-path: polygon(0 0,100% 0,100% 70%,0 100%);
    height: 610px;
    width: 100%;
    padding-bottom: 10%;
}
.menuimg
{
  width: 60%;
  height: 60%;
  padding-top: 35%;
}

  body {
    font-family: "Montserrat";
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
  }
  
  #slidebtn{
    display: inline-block;
    padding: 8px 33px;
    border: 2px solid white;
    border-radius: 35px;
  }
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
  }
  .navbar-brand:hover{
    color: white;
  }
  
  .nav-item {
    padding: 20px 18px;
  }
  
  .nav-link {
    
    font-size: 1.1rem;
    font-family: "Montserrat-Light";
    text-indent: 15px;
    color: white;
  }
  .nav-link:hover
  {
    color: white;
  }
  
  #carouselExampleSlidesOnly
  { padding-left: 50px;
    padding-top: 100px;
  }
  h1
  {
    font-family: 'Kanit', sans-serif;
    font-weight: 950;
    font-size: 2.0rem;
  }
 p
 {
  font-family: 'Kanit', sans-serif;
  font-size: 1.0rem;
 }
  .soln
  {
    color: black;
  }
  .para
  {
    padding-top:40px;
    text-align: justify;
    padding-left: 160px;
    padding-bottom: 100px;
    padding-right: 60%;
    font-family: 'Kanit', sans-serif;
    
  }
  body
  {
    width: 100%;
    max-width:100%;
    overflow-x: hidden;
  }
  .slideimg {
    width: 800px;
    height: 490px;
    padding-top: 2%;
    bottom: 1px;
    right: 10px;
    position:absolute;
   right: 1px;
  
  }
  
  .carousel-indicators li{
    height: 40px;
    width: 40px;
    margin: 0 5px;
    border-radius: 50%;
    
  }
  .list-1
  { 
    background-image: url(images/left-black-arrow.png);
  }
 
  .list-2
  {
    background-image: url(images/right-black-arrow.png);
  }
  .list-1:hover
  {
   
    background-color:black
  }
  .list-2:hover
  {
   
    background-color: black;
  }
  .carousel-indicators .active {
    font-size: 24px;
    padding-left: 10px;
  }
.card-img
{
  width:110px;
  height:104ox;
  margin:40px auto;

}
.cardhead
{
  padding-left: 37%;
  padding-top: 8%;
}
.cardpara
{
  padding-left: 12%;
  padding-right: 0%;
}
.cardsec
{
  align-items: center;
  padding-left: 7%;
  padding-right: 6%;
}
.card-img img
{
  width: 100px;
}
.about-card
{
  margin: 45px 20px;
  width: 30%;
  min-width: 300px;
  padding: 2px 25px 35px 25px;
  height: 460px;
  -webkit-box-shadow: -1px 0px 25px 9px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: -1px 0px 25px 9px rgba(0, 0, 0, 0.09);
  box-shadow: -1px 0px 25px 9px rgba(0, 0, 0, 0.09);
}
.cardbtn 
{
  display: inline-block;
  padding: 8px 25px;
  border: 2px solid #c4d70f;
  color: #c4d70f;
  border-radius: 35px;
  margin-top: 55px;
}
.cardbtn:hover
{
background-image:none !important;
background-color:#c4d70f !important;
border: 2px solid #c4d70f !important;
}
.card-btn3
{
  padding-top: 5%;
}
.card-btn2
{
  padding-top: 9%;
}
.card-btn1
{
  padding-top: 3%;
}
.portfolio-sec
{
  text-align: center;
  padding-right: 6%;
  padding-left: 1%;
  
}
.portfolio
{
  padding-top: 18%;
}
.portfolio-sec p{
  padding-left: 14%;
}
.portfolio-head
{
  padding-left: 44%;
  padding-right: 30%;
}
.portfolio_img1
{ 
  padding-bottom: 7%;
  padding-top: 5%;

}
.portfolio_img2
{
  padding-left: 10%;
  padding-bottom: 7%;
  padding-top: 10%;
}
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 20%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 20px;
  margin-bottom: 20%; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 15px;
  right: 50px;
  font-size: 50px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 10px}
  .overlay .closebtn {
    font-size: 30px;
    top: 20px;
    right: 25px;
  }
}

.container{
  text-align: center;
  
}
.img2
{
  margin-top: 40px;
  margin-left:600px;
}
.img3{
margin-top: 40px;
margin-left:600px ;
}
.imgdiv
{
  width: 40%;
  height: 180px;
  margin-top: 30px;
  margin-left: 100px;
}
.crd2
{
  width: 120px;
  padding-top: 20px;
}
.btn1
{
  display: inline-block;
    padding: 9px 35px;
    border: 2px solid #fefeff;
    color: #fefeff;
    border-radius: 35px;
}
.btNn{
  display: inline-block;
    padding: 8px 25px;
    border: 2px solid #c4d70f;
    color: #c4d70f;
    border-radius: 35px;
    margin-top: 55px;
    text-decoration: none;

}
#aln
{
  margin-left: 80px;
  margin-right: 0px;
}
.divbtn{
  padding-left: 30%;
}
.butn
{
  text-decoration: none;
}
.span2
{
  color: #c4d70f;
  font-size: 1rem;padding-top:15px;
  padding-bottom: 10px;
}
.divhr
{ 
  margin-left: 100px;
  margin-right: 100px;
}
.inputype {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
#frmimage
{
  padding-left: 10%;
  width: 100%;

}
.inputype1 {
  width: 80%;
  padding: 12px 20px;

}
.butn2
{
  text-decoration: none;
  border: none;
    background-color: #a0e711;
    color: #fff;
    padding: 12px 45px;
    font-size: 14px;
    border-radius: 25px;
    text-transform: uppercase;
}

 
 